
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);

* {
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

/* tete de page */

header.header {
    display: flex;
    align-items: center;
    
}

header.header img {
    width: 150px;
}

section.top-page {
    background: url('../images/bg.jpg');
    background-size: cover;
    height: 80vh;
    padding: 25px;
}



/* page de bienvenue (landing page) */

.landing-page {
    position: relative;
    padding: 20px 50px;
}

.big-title {
    color: #ADD981;
    font-size:  100px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100;
    width: 60%;
}

.scroll-down {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    
}

/* menu de navigation */

nav.nav {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 700px;
    margin-left: 30px;
    
}





nav.nav li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.navigation:hover {
    transition: 250ms ease-in-out;
    color: blue;


}

.anim-nav {
    background: #4CAF50;
    color: #ff0000;
    border-bottom: 1px solid #f1f1f1;
}

.icon {
    font-size: 40px;
    color: red;
}



/* services */

.services {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.service-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.delivery-icon {
    font-size: 50px;
    color: #ADD981;
}

.service-details {
    font-weight: 600;
    width: 200px;
    text-align: center;
}

/* best sells */

.section-title {
    font-size: 50px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100;
    position: relative;
}

.section-title::before {
    content: "";
    position: absolute;
    background-color: #ADD981;
    width: 50px;
    height: 7px;
    bottom: 0;
}




.bests-items {
    margin: 100px;
}

.best-plants {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.button-desc {
    transition-duration: 00.4s;
    border-color: #4CAF50;
    background-color: #4CAF50;
    border-radius: 4px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-desc:hover {
    background-color: #4CAF50;
    color: black;
    cursor: pointer;
}

.plant-box {
    position: relative;
    background-size: cover;
    background-position: center;

}

.no-grid {
    min-width: 350px;
    height: 500px;
    flex: 1;
}

.plant1 {
    background-image: url(../images/nos_meilleures_ventes/1.jpg);
}

.plant2 {
    background-image: url(../images/nos_meilleures_ventes/2.jpg);
}

.plant3 {
    background-image: url(../images/nos_meilleures_ventes/3.jpg);
}

.plant4 {
    background-image: url(../images/nos_meilleures_ventes/4.jpg);
}

.plant-details {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    background-color: #FFFFFFDF;
    padding: 5px 20px;
    transition: all 250ms;
    
}

.plant-extension {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    background-color: #FFFFFFDF;
    padding: 5px 20px;
    opacity: 0;
    transition: all 250ms;
    
}

.plant-box:hover > .plant-extension {
    opacity: 100;
    transform-origin: 50% 0%;
    height: 100%;
    
}




.plant-box:hover > .plant-details {
    transform-origin: 50% 0%;
    height: 100%;
    opacity: 0%;
    

}


.plant-name {
    font-size: 22px;
    font-weight: 600;
    line-height: 3px;
    
}

.plant-desc {
    font-size: 22px;
    font-weight: 600;
    line-height: 3px;
}

.plant-price {
    color: #ADD981;
    line-height: 3px;
    font-size: 14px;
    font-weight: 800;
}

/* nos plantes */

.all-plants {
    margin: 100px;
}

.plant-grid {
    display: grid;
    min-height: 150vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
}

.plant-grid1 {
    background-image: url(../images/nos_plantes/1.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
}

.plant-grid2 {
    background-image: url(../images/nos_plantes/2.jpg);
    grid-column: 3/5;
}

.plant-grid3 {
    background-image: url(../images/nos_plantes/3.jpg);
    grid-column: 3/5;
}

.plant-grid4 {
    background-image: url(../images/nos_plantes/4.jpg);
    grid-column: 1;
    grid-row: 3/5;
}

.plant-grid5 {
    background-image: url(../images/nos_plantes/5.jpg);
    grid-column: 2/4;
    grid-row: 3/5;
}

.plant-grid6 {
    background-image: url(../images/nos_plantes/6.jpg);
    grid-column: 4;
    grid-row: 3/5;
}

/* pied de page */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
}

footer a.cgv {
    text-decoration: none;
    color: black;
}

.service-details {
    color: green;
}

.information {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: fantasy;
    color: red;
    font-size: 22px;
}


.button-block {
    width: 600px;
    margin: 200px auto;
}
.social {
    display: inline-block;
    margin: 30px;
    cursor: pointer;
}
.social a {
    display: block;
    background: rgba(100, 218, 77, 0.7);
    padding: 20px;
    position: relative;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
    box-shadow: -20px 20px 10px rgba(0, 255, 13, 0.5);
    transition: all 0.4s ease-in-out;
}


.delivery-icon {
    color: rgb(0, 223, 67);
}
.social a::before {
    display: block;
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    left: -20px;
    top: 10px;
    background: rgba(34, 197, 34, 0.7);
    transform: rotate(0deg) skewY(-45deg);
}
.social a::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    transform: rotate(0deg) skewX(-45deg);
    background: rgba(34, 197, 34, 0.7);
    transform: rotate(45deg) scewY(-45deg);
}
.social a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 30px rgba(34, 197, 34, 0.7);
}
.social a i {
    color: rgba(256, 256, 256, 1);
    font-size: 35pt;
}
















 

